/*GENERAL*/

html {
  font-size: 100%;
  background-color: #12779b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  flex-flow: column wrap;
  background: transparent;
}

header a {
  color: white;
  background: #380600;
  display: block;
  padding: .2em;
  text-align: center;
  border-radius: 0 0% 20% 20%;
}

header a:hover {
  background: maroon;
  box-shadow: 2px 2px 3px rgba(200,200,100,.5);
}

aside {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.section {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 2rem;	
}

.section h2 {
	background-color: #23384c;
	color: white;
	flex: 1 0 100%;
	padding: 1rem;
	border-radius: 0 50% 50% 0;
	max-width: 80%;
}

.section a {
	margin: 0 .5rem 1rem .5rem;
}

.section-text {
	background-color: #23384c;
	color: white;
	padding-top: 5%;
}

.section-text h2 {
	padding: 1rem;
	text-shadow: 2px 2px 3px rgba(0,0,0,.5);
	background-color: #002c5b;
	border-radius: 0 20% 50% 0;
	font-size: 2rem;
	min-width: auto;
	max-width: 30%;
	padding-bottom: 10%;
	margin-bottom: -9%;
}	

p {
	padding: .5rem 1rem;
	text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}


footer {
	margin: 1rem;
	text-align: right;
}

aside {
	display: flex;
	flex-flow: row wrap;
}

#home-container {
	background-color: #002c5b;
	border-radius: 0 0 100% 0;
}
.benrodia {
	padding: 1rem;
	color: white;
	font-size: 3rem;
}
.front {
	width: 100%;
	padding: 1rem 0;
}

.front .img{
	width: 100%;
}

.front .text {
	width: 100%;
	background-color: #23384c;
	color: white;
	padding-left: 2rem;
}

.front a:hover {
	color: maroon;
}


.description {
	color: white;
	background: #23384c;
}

.carousel {
	color: white;
	font-size: 1.5rem;
	background-color: #380600;
	height: 10%;
	text-align: center;
}

.carourel:hover {
	background: maroon;
	box-shadow: 2px 2px 3px rgba(200,200,100,.5);
}

#blowup-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.last, .next {flex-grow: 1;}
.back {flex-grow: 3;}

/*MEDIA QUERIES*/


@media screen and (min-width: 30rem) {        /*TABLET*/
	#container {
		padding-top: 3%;
	}
	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		background: #380600;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%
	}	

	header a {
		border: none;
		background: transparent;
	}

	.section {
		margin: 2rem 0;
	}

	.section h2 {
		border-radius: 0 20% 50% 0;
		font-size: 2rem;
		max-width: 30%;
		padding-bottom: 30%;
		margin-bottom: -28%;
	}	


	.front {
	width: 50%;
}
	.front .img{
	width: 100%;
	padding: 0 1rem;
}
	#blowup-page {
		display: block;
	}
	.blowup {
		width: 60%;
	}
	}

	.description {
		position: fixed;
		top: 6%;
		right: 0;
		width: 40%;
		height: 95%;
	}
} 


@media screen and (min-width: 50rem) {        /*DESKTOP*/
	header {
	}
	.front .img{
	width: 80%;
	padding: 0 1rem;
}
}

@media screen and (min-width: 80rem) {        /*HDTV*/
}
