html {
  font-size: 100%;
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.centered {
  align-content: center;
  text-align: center; 
}

#nav {
  background-color: silver;
}

#nav h3 {
  padding: 0;
}

h1, h2, h3 {
  padding: .5rem;
}

.home {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.section {
  padding: 0;
  margin-bottom: 3rem;
}

.thumbnail {
  min-width: 32%;
  max-width: 99%;
  margin: .5%;
}

.front-text {
  z-index: 10;
  font-size: 3rem;
}

.front-img {
  z-index: 0;
  width: 100%;
}

.carousel {
  height: 100%;
  width: 100%;
  background-color: red;
}

.aboutparg {
  padding: 1rem;
}

.benrodia {
  font-size: 5rem;
  color: silver;
}

#galaccordian:hover, #aboutaccordian:hover {
  height: 100%;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 20rem) {
  body {
    background-color: green;
  }

  #nav {  
    width: 100%;
  }
  .thumbnail {
/*    width: 11rem;
*/  }
} 

@media screen and (min-width: 40rem) {
  body {
    margin-top: 0;
    background-color: red;
  }
  .section h3, p {font-size: 130%;}

  #nav div {  
    padding: .3rem 0 .3rem .7rem ;
  }
  #container {
    margin: 0 1rem 0 9rem;
  }
  #galaccordian, #aboutaccordian {
    height: 1.5rem;
    width: auto;
    overflow: hidden;
  }

  #galaccordian:hover, #aboutaccordian:hover {
    height: 100%;
  }

} 

@media screen and (min-width: 60rem) {
  body {
    background-color: yellow;
  }
  .section h3, p {font-size: 110%;}

  .thumbnail {
/*    width: 15rem;
*/  }
} 

@media screen and (min-width: 80rem) {
  .thumbnail {
/*    width: 19rem;
*/  }
}


/*GRID SYSTEM*/

* { box-sizing: border-box; }

.row {
  height: auto;
  overflow: auto;
  margin-bottom: 16px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  background-color: rgba(45, 157, 192, 0.5); /*GRID OPACITY*/
  margin: 0 .5%;
  width: 100%;
}


@media screen and (min-width: 600px) {
  .col-1 {width: 7.33%;}
  .col-2 {width: 15.66%;}
  .col-3 {width: 24%;}
  .col-4 {width: 32.33%;}
  .col-5 {width: 40.66%;}
  .col-6 {width: 49%;}
  .col-7 {width: 57.33%;}
  .col-8 {width: 65.66%;}
  .col-9 {width: 74%;}
  .col-10 {width: 82.33%;}
  .col-11 {width: 90.66%;}
  .col-12 {width: 99%;}

  [class*="col-"] {
    float: left;
  }
}


/*IGNORE FOR NOW*/
  .column-1 {width: 7.33%;}
  .column-2 {width: 15.66%;}
  .column-3 {width: 24%;}
  .column-4 {width: 32.33%;}
  .column-5 {width: 40.66%;}
  .column-6 {width: 49%;}
  .column-7 {width: 57.33%;}
  .column-8 {width: 65.66%;}
  .column-9 {width: 74%;}
  .column-10 {width: 82.33%;}
  .column-11 {width: 90.66%;}
  .column-12 {width: 99%;}

[class*="column-"] {
  background-color: rgba(45, 45, 145, 0.0); /*GRID OVERLAY OPACITY*/
  margin: 0 .5%;
  height: 100%;
  float: left;
  clear: both;
  overflow: auto;
}

.row .column-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}